body{
    margin:0;
    font-family:consolas;
}

.bg-img{
    width:100%;
    height:100vh;
    background-image:url("https://c4.wallpaperflare.com/wallpaper/355/914/539/red-car-red-sky-car-red-wallpaper-preview.jpg");
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
}

.container{
    padding:100px;
}

@media (max-width:500px){
    .container{
        padding:10px;
    }
}

h1{
    font-size:50px;
}

p{
    color:grey;
}